<ng-container  *ngIf="user">
  <div class="container-user">

    <mat-card class="card-user">
      <mat-card-header>
        <div mat-card-avatar class="card-user-image"></div>
        <mat-card-title>{{ user.name }}</mat-card-title>
        <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <div> Adress: </div>
        <div> Street: {{ user.address.street }} </div>
        <div> Suite: {{ user.address.suite }} </div>
        <div> City: {{ user.address.city }} </div>
        <div> Geo Location: </div>
        <div> Lat: {{ user.address.lat }} </div>
        <div> Lng: {{ user.address.lng }} </div>
        <div> Phone: {{ user.phone }} </div>
        <div> Company: {{ user.company.name }} </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
      </mat-card-actions>
    </mat-card>

    <div #gmap style="width:100%;height:400px"></div>

  </div>

</ng-container>



